body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin:0;
  background-color: #010105;
  box-shadow: none;
  font-family: 'Josefin Sans', sans-serif;



  .effect{
    padding: 1rem;
    button{
      font-size: 1.5rem;
      border:1px solid red;
      border-radius: .5rem;
      padding: 1rem;
      color: #fff;
      background-color: #171689;
      transition: 1s;
      position: relative;
      outline: none;
      opacity: 0.8;

      }
    }

  .effect{
    &:hover{
      button{
        // // background-color: aqua;
        // color: black;
        opacity: 1;
        transform: scale(1.2);
        box-shadow: 0 0 25px #F26000;
        filter: blur(.2px);


      }
    }
  }
  .effect{
    button{
      &:hover{
        &:before{
          left: 5rem;
        }
      }
    }

  }
  .effect{
    button{
      &:hover{
        &:after{
          left:.5rem;
        }
      }
    }

  }
}
